<ion-view view-title="Projets Personnels" class="fond" >
    <ion-content class="has-header" >
        <ion-list ng-controller="PersonalProjectCtrl" ng-init="getProjects();">
            <div class="card" ng-repeat="project in projects" >
                <div class="item item-divider">
                    <h2>{{project.title}}</h2>
                    <h3>{{project.subtitle}}</h3>
                    <p>{{project.date}}</p>
                </div>
                <div class="item item-text-wrap" style="text-align: center;">
                    <img ng-src="{{project.photo}}" style="width:100%"/>
                    <p style="text-align: justify;text-justify: inter-word;">
                        {{project.resume}}
                    </p>
                    <br>
                    <p>
                        <button class="button button-energized" ng-repeat="link in project.links" style="margin: 10px;" ng-click="clickButton(link);" >
                            <i class="icon ion-ios-cloud-download" ></i>
                            {{link.libl}}
                        </button>
                    <p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
